body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(73, 124, 234);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: blue;
}

